* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

/* body {
    display: flex;
    flex-direction: column;
} */

.container-img {}


.wideScreen {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.smallScreen {
    display: none;
}

.carousel-smallScreen {
    display: none;
}

.conteiner-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgb(40, 38, 38);
    padding: 10px;

}


.conteiner-navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

main {
    padding-top: 56px;
}

footer {
    background-color: rgb(40, 38, 38);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner-img h2 {
    text-align: center;
    color: rgb(59, 136, 198);
    padding: 10px;
}

.conteiner-img img {
    width: 800px;

}

.lorem {
    padding: 15px;

}

/* Consulta de medios para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: #e0e0e0;
    }

    .wideScreen {
        display: none;
    }

    .smallScreen {
        display: flex;
        background-color: rgb(40, 38, 38);
    }

    .carousel-wideScreen {
        display: none;
    }

    .carousel-smallScreen {
        display: flex;
    }

    /* Puedes agregar más estilos específicos para pantallas más pequeñas aquí */
}

/* Consulta de medios para pantallas de hasta 480px de ancho */
@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
        background-color: #d0d0d0;
    }

    .wideScreen {
        display: none;
    }

    .smallScreen {
        display: flex;
        background-color: rgb(40, 38, 38);
    }

    .carousel-wideScreen {
        display: none;
    }

    .carousel-smallScreen {
        display: flex;
    }

    /* Puedes agregar más estilos específicos para pantallas aún más pequeñas aquí */
}